<h1>Radio Button</h1>
<input type="radio" name="gender" value="male" (change)="getchange($event);"> Male<br>
  <input type="radio" name="gender" value="female" (change)="getchange($event);"> Female
<br>
  {{radioButtonvalue}}
<br>
<h1>Dropdown</h1>
  <select (change)="getSeletedValue($event);">
    <option >Select Hobbies</option>
    <option *ngFor="let show of hobbies " >
    {{show}}
    </option>
  </select> 
<br>
  {{dropDownValue}}
  <h2>Dropdown Array Of object</h2>
  <select (change)="getarraydropdownvalue($event)">
    <option *ngFor="let showhobbies of Ihobbies" >
  
      {{showhobbies.name}}

    </option>
    
  </select> 
  <br>
  <h3>{{dropDownId}}  {{dropDownName}}</h3>
 
  <br>

  <h2>Checkbox simple array</h2>
  <div *ngFor="let showcheckboxhobbies of hobbies ">
  <input type="checkbox" [checked]="!isCheck" (change)="getcheckbox($event)" value={{showcheckboxhobbies}}>{{showcheckboxhobbies}}<br>
</div>

<div *ngFor="let checkhobbiesdisplay of chkhobbie ">
 {{ checkhobbiesdisplay }} 
</div>

<h2>Checkbox Array of Object</h2>
<div *ngFor="let checkboxobject of Ichkhobbies ">
  
  <input type="checkbox" (change)="getCheckedValue($event,checkboxobject)" value={{checkboxobject.name}}>{{ checkboxobject.name }} 
 </div>
 <br>
 <div *ngFor="let checkboxobject of Ichkhobbies ">
  {{checkboxobject| json }}
 </div>


 
